* {
  box-sizing: border-box;
}

.container {
  border-radius: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #D3F8E2;
  justify-content: center;
  padding-bottom: 10%;
  padding-top: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}

.navbar {
  background-color: #37393A;
}

.rowAdjust {
  justify-content: center;
}

.rowAdjust2 {
  justify-content: center;
}

.linkCol {
  padding-top: 2%;
}

.card-title {
  border-radius: 25px;
  margin-top: -32px;
  background-color: #AF90A9;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}