* {
  box-sizing: border-box;
}

.container {
  padding-top: 1%;
}

.myRow {
  background-color: #D3F8E2;
  padding-top: 35%;
  padding-bottom: 40%;

}

.image {
  border: 5px solid black;
  height: 50%;
}

.navbar {
  background-color: #37393A;
}
